{{ $repo := .Get 0 }}
{{ $filtered_issues := where .Site.Data.issue_data "project" $repo }}

{{ $pages := div (len $filtered_issues) 10 | math.Ceil }}
<div id="issueTable" class="table">
    {{ range $filtered_issues }}
        <div class="row issue-row">
            <div class="cell">
                <a href="#" class="nes-badge">
                    <span class="is-{{$repo}}">{{.project}}</span>
                </a>
            </div>
            <div class="cell"><a href="{{.url}}">{{.title}}</a></div>
            <div class="cell">{{.days_ago}}d ago</div>
        </div>
    {{ end }}
</div>

<div id="paginationContainer">
  {{ range seq 0 (math.Ceil $pages) }}
    <button class="page-number" data-page="{{ . }}">{{ . }}</button>
  {{ end }}
</div>